@font-face {
  font-family: "AgoraSansProLight";
  src:
    local("AgoraSansProLight"),
    url("../fonts/AgoraSansProLight.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProRegular";
  src:
    local("AgoraSansProRegular"),
    url("../fonts/AgoraSansProRegular.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProThin";
  src:
    local("AgoraSansProThin"),
    url("../fonts/AgoraSansProThin.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProXThin";
  src:
    local("AgoraSansProXThin"),
    url("../fonts/AgoraSansProXThin.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProBold";
  src:
    local("AgoraSansProBold"),
    url("../fonts/AgoraSansProBold.woff") format("woff");
}

/*--------------- COMMON ELEMENTS ---------------*/

html,
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	color: #000000;
	font-family: "AgoraSansProLight", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "AgoraSansProXThin", sans-serif;
	letter-spacing: 0.065em;
	font-variant: small-caps;
	margin: 0;
}

h1 {
	font-size: 3.3333em;
}

h2 {
	font-size: 3.3333em;
}

h3 {
	font-size: 2em;
	letter-spacing: 0.1em;
}


p {
	margin: 0 0 0.5em;
}

body > footer,
section {
	display: flex;
	justify-content: center;
	min-width: 1240px;
}

.wrapper {
	display: flex;
	width: 1080px;
	padding: 50px 0;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	flex-wrap: wrap;	
}

.btn-box {
	width: 100%;
	text-align: center;
}

.btn {
	display: inline-block;
	margin: 0 auto;
	padding: 17px 36px;
	font-family: "AgoraSansProThin";
	font-size: 1.4444em;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 10px;
	transition-duration: 0.2s;
}

.btn:hover {
	color: #f0c000;
	border-color: #f0c000;
	text-shadow: 0 1px 0 #f0c000;
}

.btn:active {
	color: #888888;
	text-shadow: 0 1px 0 #888888;
}

.btn-red {
	background-color: #e11a27;
	border-color: #e11a27;
	color: #f3f0e7;
}

.btn-red:hover {
	background-color: #ffd200;
	border-color: #ffd200;
	color: #f3f0e7;
	text-shadow: 0 1px 0 #f3f0e7;
}

.btn-red:active {
	color: #888888;
	text-shadow: 0 1px 0 #888888;
}

/*--------------- HEADER ---------------*/

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1240px;
	margin: 0 auto;
	min-height: 80px;
}

.main_menu {
	position: relative;
	width: 26px;
	height: 26px;
	margin: 0 20px;
	cursor: pointer;
}

.main_menu span,
.main_menu span::before,
.main_menu span::after {
	position: absolute;
	display: block;
	width: 26px;
	height: 2px;
	background-color: #000000;
	transition-duration: 0.3s;
}

.main_menu span {
	top: 12px;
	left: 0;
}

.main_menu span::before {
	content: "";
	top: -8px;
	left: 0px;
}

.main_menu span::after {
	content: "";
	top: 8px;
	left: 0;
}

.main_menu:hover  span{
	transform: rotate(90deg) scale(0.8, 1) translateX(-2px);
}

.main_menu:hover span::before {
	transform-origin: top right;
	transform:  rotate(45deg) scale(0.5, 1) translate(15px, 5px);
}

.main_menu:hover span::after {
	transform-origin: bottom right;
	transform:  rotate(-45deg) scale(0.5, 1)  translate(15px, -5px);
}

.main_menu ul {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	transform-origin: top left;
	transition-duration: 0.3s;
	opacity: 0;
	transform: scale(0);
}

.main_menu li {
	position: relative;
}

.main_menu > ul {
	top: 25px;
	left: -20px;
	padding: 27px 0 0;
}

.main_menu:hover > ul {
	opacity: 1;
	transform: scale(1);
}

.main_menu li > ul {
	top: 0;
	left: 100%;
}

.main_menu li:hover > ul {
	opacity: 1;
	transform: scale(1);
}

.main_menu li > ul li {
	border-left: 1px solid #f3f0e7;
}

.main_menu li > ul li:first-child {
	border-left: 1px solid #ffd200;
}

.main_menu li > ul li:first-child::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 19px solid transparent;
	border-right: none;
	border-left: 10px solid #ffd200;
	transform-origin: center left;
	transform: translateX(-19px) scale(0);	
}

.main_menu li:hover > ul li:first-child::after {
	transform: translateX(0px) scale(1);
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

.main_menu a {
	display: block;
	position: relative;
	min-width: 150px;
	padding: 10px 20px;
	box-sizing: border-box;
	background: #ffffff;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.85em;
}

.main_menu li:hover > a {
	color: #ffffff;
	background: #ffd200;
	font-weight: bold;
}

.main_menu li a:active {
	color: #888888;
}

.logo {
	display: block;
	width: 162px;
	height: 19px;
	margin-left: 46px;
	margin-right: auto;
}

.logo img {
	width: 162px;
	height: 19px;
}

.phone_number {
	display: inline-block;
	min-width: 137px;
	margin-right: 36px;
	margin-left: 56px;
	padding: 10px 37px;
	background-color: #ffd200;
	border-radius: 10px;
	font-size: 0.8888em;
	letter-spacing: 0.06em;
	color: #000000;
	text-decoration: none;
	transition-duration: 0.2s;
}

.phone_number:hover {
	text-shadow: 0.3px 0 0 #000000;
	background-color: #faca00;
}

.phone_number:active {
	background-color: #dddddd;
}

.phone_number::after {
	content: "";
	display: block;
	width: 100%;
	border-top: 1px dotted #000000;
}

.sign_in {
	position: relative;
	width: 31px;
	height: 29px;
	margin: 0 20px;
	font-size: 0;
	
}

.sign_in::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 29px;
	background: #000000;
	transform-origin: center right;
	transform: scale(0, 1);
	transition-duration: 0.3s;
}

.sign_in:hover::before {
	transform: scale(1);
}

.sign_in a {
	display: block;
	position: relative;
	width: 23px;
	height: 25px;
	border: 2px solid #000000;
	border-left: none;
	margin-left: 8px;	
}

.sign_in a::before {
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	left: -8px;
	width: 19px;
	height: 2px;
	background-color: #000000;
	transform: translateX(0px);
	transition-duration: 0.3s;
}

.sign_in a::after {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 0px;
	width: 8px;
	height: 8px;
	border: 2px solid #000000;
	border-left: none;
	border-bottom: none;
	transform: translateX(0px) rotate(45deg);
	transition-duration: 0.3s;
}

.sign_in:hover a::before {
	background-color: #ffffff;
	transform: translateX(7px);
}

.sign_in:hover a::after {
	border: 2px solid #ffffff;
	border-left: none;
	border-bottom: none;
	transform: translateX(7px) rotate(45deg);
}

body > header .wrapper {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.promo {
	width: 100%;
	min-height: 550px;
	background: #f3f0e7 url("../img/banner.jpg") no-repeat 50% 100%;
	background-size: cover;
}

.promo h1 {
	margin-bottom: 0.15em;
}

.promo p {
	font-size: 1.3333em;
	margin-bottom: 70px;
}

/*--------------- STEPS ---------------*/

.steps {
	min-height: 360px;
}

.steps .wrapper {
	position: relative;
	justify-content: space-around;
	align-items: center;
}

.steps .wrapper::before {
	content: "";
	display: block;
	position: absolute;
	top: 141px;
	width: 80%;
	height: 5px;
	max-width: 800px;
	margin: 0 auto;
	background-image: linear-gradient(to right, #ffd200 12px, #ffffff 12px);
	background-repeat: repeat-x;
	background-size: 24px 5px;
}

.steps .step {
	width: 140px;
	font-size: 1.3333em;
	text-align: center;
	z-index: 10;
} 

.steps .step::before {
	content: "";
	display: block;
	width: 130px;
	height: 130px;
	margin-bottom: 20px;
	border: 5px solid #ffd200;
	border-radius: 50%;
}

.steps .step:nth-child(1)::before {
	background: #ffffff url("../img/steps_sprite.png") no-repeat 0px 5px;
}

.steps .step:nth-child(2)::before {
	background: #ffffff url("../img/steps_sprite.png") no-repeat -130px 0px;
}

.steps .step:nth-child(3)::before {
	background: #ffffff url("../img/steps_sprite.png") no-repeat -260px -5px;
}

.steps .step:nth-child(4)::before {
	background: #ffffff url("../img/steps_sprite.png") no-repeat -390px 0px;
}

/*--------------- ADVANTAGE ---------------*/

.advantage {
	background: #f7f0e6;
	min-height: 820px;
}

.advantage .wrapper {
	padding: 45px 0;
}

.advantage h2 {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}

.advantage-item {
	max-width: 267px;
	padding: 20px;
	margin: 0 0 60px;
	text-align: center;
}

.advantage-item img {
	width: 267px;
	height: 267px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-bottom: 0.75em;
}

.advantage-item h3 {
	font-variant: normal;
	font-size: 1.3333em;
	letter-spacing: 0.03em;
	margin-bottom: 1em;
}

.advantage p {
	font-size: 0.8888em;
}

/*--------------- PRODUCTS ---------------*/

.products {
	min-height: 730px;
}

.products h2 {
	display: block;
	margin-bottom: 45px;
	width: 100%;
	text-align: center;
}

.products-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 313px;
	min-height: 367px;
	box-sizing: border-box;
	border: 5px solid #ffd200;
	border-radius: 10px;
	margin-top: 22px;
}

.products-item h3 {
	display: block;
	width: 100%;
	padding: 37px 0;
	background-color: #ffd200;
	font-family: "AgoraSansProRegular";
	font-size: 1.85em;
	letter-spacing: 0.12em;
	text-align: center;
}

.products-item ul {
	margin: 13px 22px 7px;
	padding: 0;
	list-style: none;
}

.products-item li {
	position: relative;
	padding-left: 37px;
	line-height: 1.75em;
	letter-spacing: 0.02em;
}

.products-item li::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #ffd200;
	border-top-color: transparent;
	border-radius: 50%;
	transform: rotate(45deg);
}

.products-item li:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 6px;
	width: 9px;
	height: 3px;
	border: 2px solid #000000;
	border-top: none;
	border-right: 0;
	transform: rotate(-45deg);
}

.products-item .price {
	display: block;
	width: 100%;
	margin: auto 0 7px;
	font-size: 3.3333em;
	text-align: center;
}

.products-item .make {
	display: block;
	width: 100%;
	padding: 14px 0 8px;
	color: #000000;
	background-color: #ffd200;
	font-family: "AgoraSansProThin";
	font-size: 1.2038em;
	letter-spacing: 0.06em;
	text-align: center;
	text-decoration: none;
}

.products-item .make span {
	font-variant: small-caps;
	letter-spacing: 0.08em;
}

.products .best h3 {
	position: relative;	
}

.products .best h3::before {
	content: "";
	display: block;
	position: absolute;
	width: 155px;
	top: -27px;
	left: 52px;
	border: 22px solid #ffd200;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.products .best h3::after {
	content: "bestseller";
	position: absolute;
	top: -22px;
	left: 0;
	width: 100%;
	font-family: "AgoraSansProBold";
	font-size: 0.6666em;
	letter-spacing: 0.06em;
	text-align: center;
	font-variant: small-caps;
	color: #e11a27;
}

/*--------------- REVIEWS ---------------*/

.reviews {	
	min-height: 770px;
	background: #f7f0e6 url("../img/cover.jpg") no-repeat 50% 50%;
	background-size: auto 100%;
}

.reviews .wrapper-left,
.reviews .wrapper-right {
	width: 50%;
}

.reviews .wrapper-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviews h2 {
	margin-bottom: 40px;
}

.reviews-item {
	line-height: 1.25em;
}

.reviews-item header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-left: 190px;
	min-height: 158px;
	margin-bottom: 25px;
}

.reviews-item header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 158px;
	height: 158px;
	border-radius: 50%;
	background: url("../img/avatar.jpg") no-repeat 50% 50%;
}

.reviews-item header h3 {
	font-size: 1.6666em;
	margin-top: 0.7em;
}

.reviews-item header p {
	margin-top: 0.7em;
}

.reviews .next-review {
	display: block;
	position: relative;
	margin: 25px 0;
	padding-right: 40px;
	text-align: right;
	color: #000000;
	text-decoration: none;
	font-size: 0.8888em;
	letter-spacing: -0.015em;
}

.reviews .next-review:hover {
	text-decoration: underline;
}

.reviews .next-review:active {
	color: #888888;
}

.reviews .next-review::before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	right: 7px;
	width: 20px;
	height: 1px;
	background-color: #000000;
}

.reviews .next-review::after {
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	right: 0;
	border: 2px solid #000000;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-width: 7px;
}

.reviews .btn {
	margin-top: auto;
}

/*--------------- HELPFULL INFO ---------------*/

.helpful_info {
	min-height: 660px;
}

.helpful_info-box {
	width: 313px;
	min-height: 306px;
	box-sizing: border-box;
	margin: 42px 0;
	padding: 0 0 36px;
	background: #f7f0e6;
	border-radius: 10px;
	font-family: "AgoraSansProRegular";
}

.helpful_info-box h3 {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 28px;
	padding: 12px;
	background: #ffd200;
	border-bottom: 6px solid #ffffff;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.helpful_info-box-content {
	padding: 0 36px;
	line-height: 1.25em;
}

.helpful_info-box ul {
	margin: 0;
	padding-left: 29px;
	line-height: 1.7em;
}

.helpful_info-box .bonus {
	font-family: "AgoraSansProBold";
	color: #e11a27;
}

.helpful_info-box .bonus span {
	font-variant: small-caps;
	letter-spacing: 0.08em;
}

.helpful_info .btn-box {
	margin-top: 35px;
}

/*--------------- FOOTER ---------------*/

body > footer {
	background-color: #ffd200;
	min-height: 376px;
	font-family: "AgoraSansProRegular";
}

body > footer .wrapper {
	align-content: stretch;
	padding: 50px 0;
}

body > footer ul {
	width: 150px;
	list-style: none;
	padding: 22px 0 0 ;
	margin: 0;
	margin-right: 83px;
	border-top: 1px solid #000000;
	line-height: 1.7em;
	letter-spacing: 0.06em;
}

body > footer .books a {
	font-variant: small-caps;
	letter-spacing: 0.12em;
}

body > footer a {
	color: #000000;
	text-decoration: none;
	font-size: 0.8888em;

}

body > footer a:hover {
	text-decoration: underline;
}

body > footer a:active {
	color: #888888;
}

body > footer aside {
	width: 152px;
	border-top: 1px solid #000000;
	padding: 16px 0 0;
	margin-left: auto;
}

body > footer aside .social {
	margin-bottom: 50px;
}

body > footer aside .social a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	border-radius: 3px;
	font-size: 0;
	background: url("../img/social_btn.png") no-repeat;
	filter: brightness(0);
	transition-duration: 0.2s;
}

body > footer aside .social .fs {
	background-position: 0 0;
}

body > footer aside .social .vk {
	background-position: -44px 0;
}

body > footer aside .social .in {
	background-position: -86px 0;
}

body > footer aside .social a:hover {
	filter: brightness(1);
	background-color: #ffffff;
}

body > footer aside .social a:active {
	filter: grayscale(1);
	background-color: #ffffff;
}

body > footer aside .design-copy {
	width: 85px;
	height: 110px;
	box-sizing: border-box;
	padding: 14px 0;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 10px;
	font-size: 0.6111em;
}

body > footer .design-copy img {
	margin-top: 15px;
}

body > footer .copyright {
	align-self: flex-end;
	width: 100%;
	text-align: center;
	font-size: 0.7777em;
}
